:any-link {
    ---color-hyperlink-0: var(--color-hyperlink);
    ---color-hyperlink-1: color-mix(in srgb, var(--color-hyperlink) 40%, transparent);
    ---color-hyperlink-2: color-mix(in srgb, var(--color-hyperlink) 20%, transparent);
    color: var(---color-hyperlink-0);
    text-decoration: 3px dotted underline;
    text-decoration-color: transparent;

    &:is(:focus, :hover) {
        text-decoration-color: var(---color-hyperlink-1);
        text-decoration-skip-ink: none;
        text-underline-offset: 2px;
    }
    
    &:is(:focus) {
        outline: none;
        background-color: var(---color-hyperlink-2);
    }

    &[href^="http://"]::before,
    &[href^="https://"]::before {
        content: "↗";
        font-size: 75%;
        margin-right: 3px;
    }
}

h1 {
    margin-block: 0.25em;
    font-size: 1.85em;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
    margin-block: 0.25em;
}

h3 {
    font-size: 1.4em;
    margin-block: 0.2em;
}

a.post-card {
    display: block;
    border: 1px solid var(--color-dim);
    padding: 2.25em calc(100% - min(100% - 1.25em - 2.5em, 32em)) 2.25em 2.5em;
    margin: 1.5em 0;
    position: relative;

    background-size: 0 0;
    isolation: isolate;

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        z-index: -1;
        background-size: 150%;
        background-position: center;
        background-color: #f3f3f3;
        background-image: inherit;
    }

    &::after {
        position: absolute;
        left: 1.25em;
        width: calc(min(100% - 1.25em - 2.5em, 32em));
        top: 0;
        bottom: 0;
        content: "";
        z-index: -1;
        background-color: #eeea;
        background-image: var(--texture-noise);
        backdrop-filter: blur(14px) saturate(0.5);
    }

    transition: translate 0.2s cubic-bezier(0.23, 1, 0.320, 1);

    &:any-link {
        color: inherit;
        text-decoration: none;
    }

    &:any-link:focus {
        outline: 1px solid var(--color-dim);
        outline-offset: 0;
    }

    &:any-link:is(:hover, :focus) {
        translate: 1em 0;
    }

    &:any-link:active {
        translate: -0.5em 0;
    }

    & h3, strong {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: bold;
        font-size: 1.25em;
    }

    & .info {
        opacity: 0.7;
        font-size: 0.9em;

        & time::before {
            content: "";
        }

        & .author::before {
            content: "— ";
        }
    }
}

a.see-more-block {
    display: flex;
    gap: 0.5em;
    
    &::before, &::after {
        content: "";
        border-bottom: 3px double var(--color-hyperlink);
        opacity: 0.5;
        margin: auto;
    }

    &::before {
        width: 1.5em;
    }

    &::after {
        flex: 1 1;
    }
}

a.tag-link {
    ---color-hyperlink-3: color-mix(in srgb, var(--color-hyperlink) 10%, transparent);

    display: inline-block;
    padding: 0.2em 0.5em;
    font-size: 0.95em;
    margin-inline: 0.1em;
    
    transition: background-color 0.1s cubic-bezier(0.23, 1, 0.320, 1);
    color: var(--color-hyperlink);
    background-color: var(---color-hyperlink-3);
    text-decoration: none;

    &::before {
        content: "#";
    }

    &:any-link:is(:hover, :focus) {
        background-color: var(---color-hyperlink-2);
    }
}

figure {
    margin-inline: 2em;
    margin-block: 1.5em;
    text-align: center;

    & figcaption {
        font-size: 0.9em;
        opacity: 0.7;
    }
}

article.post-comment {
    background-color: var(--color-lit);
    border: 1px solid var(--color-dim);
    padding: 1.25rem 2rem;
    margin-top: 1rem;

    &.reply {
        margin-top: 0em;
        border-top: none;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='15' viewBox='0 0 20 10'%3E%3Cpath d='M-5 -10 l40 40 M-5 0 l40 40 M-5 -20 l40 40' stroke='%230003' style='stroke-width: 3px;'/%3E%3C/svg%3E");
        background-repeat: repeat-y;
        padding-left: calc(30px + 2rem);
    }

    &.from-member header > :where(h1, h2, h3, h4) {
        color: var(--color-hyperlink);
        opacity: 1.0;
    }

    & header > :where(h1, h2, h3, h4) {
        margin: 0;
        display: inline;
        margin-inline-end: 0.25rem;
        font-size: 1rem;
        font-weight: bold;
        opacity: 0.8;
    }

    & header > .info {
        display: inline;
        opacity: 0.6;
        font-size: 0.8rem;

        & a:any-link {
            color: inherit;
            margin-inline-start: 0.25rem;
        }
    }

    & p {
        margin-block-start: 0.5rem;
    }

    & :last-child {
        margin-block-end: 0;
    }
}

#wl-notification-container {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

:host(wl-notification-box) > .notification-box {
    background-color: var(--color-content);
    border: 1px solid var(--color-primary);
    border-left-width: 4px;
    color: var(--color-lit);
    padding: 0.5rem 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    max-width: 25rem;

    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;

    &.info {
        border-color: var(--color-primary);
    }

    &.error {
        border-color: var(--color-error);
    }
    
    &.warn {
        border-color: var(--color-warning);
    }
}
