
body {
    color: var(--color-content);
    background-color: var(--color-backdrop);
    font-family: var(--font-family);

    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.site-header {
    background-color: var(--color-backdrop);

    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .logo {
        font-size: 2.5rem;
        font-weight: bold;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & :link, & :visited {
        text-decoration: none;
        color: var(--color-content)
    }

    & nav {
        color: var(--color-dim);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1em;
        gap: 1em;

        & a:any-link {
            font-weight: bold;
        }

        & a:any-link:is(:focus, :hover) {
            text-decoration: 3px dotted underline #00000066;
            text-underline-offset: 2px;
            text-decoration-skip-ink: none;
        }
    }
}

main {
    background-color: var(--color-background);
    border: 1px solid var(--color-dim);

    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2.5rem 3rem;
    flex-grow: 1;

    @media screen and (max-width: var(--max-width)) {
        border-block: none;
    }

    @media screen and (max-width: 600px) {
        padding: 2rem 2rem;
    }
}

footer.site-footer {
    height: 7rem;
    max-width: 900px;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
    font-size: 80%;
}


article.post-content {
    & > header {
        margin-block-end: 2.5rem;

        & > h1 {
            font-size: 2.5rem;
            margin-block-end: 0rem;
            font-weight: bold;
        }

        & > .subtitle {
            opacity: 0.7;
            word-break: keep-all;
            
            /* padding-block: 1px; */
            min-width: 50%;
            max-height: 2lh;
            
            /* suprisingly, it's also supported in firefox */
            display: -webkit-box;
            overflow: hidden;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;

            &:empty {
                display: none;
            }
        }

        & > .info {
            opacity: 0.5;
            font-size: 0.9em;

            & time::before {
                content: "";
            }

            & > .author, & > .date {
                display: inline-block;
            }

            & > .author::before {
                content: "— ";
            }
        }

        & > .tags {
            float: right;
            position: relative;
            z-index: 1;

            list-style: none;
            display: flex;

            padding: 0;
            margin: 0;

            flex-wrap: wrap;
            justify-content: flex-end;
        }

    }

    & section {
        margin-block: 2.5rem;
    }

    & section.content {
        & p {
            margin-block: 0.75rem;
            line-height: 1.65em;
        }

        & > p {
            text-indent: 1em;
            text-align: justify;
        }
    }


    & section.relations {
        /* for some unknown reason, the selector here does not update the page in Firefox 129.0 */
        &:not(:has(ul > li)) {
            display: none;
        }

        /* and this is a workaround. i have no idea why, but it works. */
        &:has(ul:-moz-only-whitespace) {
            content: unset;
        }

        & ul {
            list-style: none;
            padding-inline-start: 1rem;
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
        }

        & a:any-link {
            ---color-hyperlink-3: color-mix(in srgb, var(--color-hyperlink) 10%, transparent);

            display: inline-block;
            padding: 0.2em 0.5em;
            font-size: 0.95em;
            margin-inline: 0.1em;

            transition: background-color 0.1s cubic-bezier(0.23, 1, 0.320, 1);
            color: var(--color-hyperlink);
            background-color: var(---color-hyperlink-3);
            text-decoration: none;

            &:any-link:is(:hover, :focus) {
                background-color: var(---color-hyperlink-2);
            }

            li.bothlink &::before {
                content: "↔ ";
                font-weight: bold;
            }

            li.outlink &::before {
                content: "→ ";
                font-weight: bold;
            }

            li.inlink &::before {
                content: "← ";
                font-weight: bold;
            }
        }
    }

}

form.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;

    & > h1 {
        font-size: 1.75em;
        font-weight: normal;
        text-align: center;
    }

    & > label {
        margin-block-start: 0.5rem;
        font-size: 0.75em;
        opacity: 0.5;
    }

    & > input[type="text"], & > input[type="password"] {
        margin-block-end: 0.5rem;
        padding: 0.5em;
        font-size: 1em;
        border: none;
        border-bottom: 1px solid var(--color-dim);
        background: transparent;
        &:focus {
            outline: none;
            border-bottom-color: var(--color-hyperlink);
        }
    }

    & > button[type="submit"] {
        margin-block-start: 1.5rem;
        padding: 0.5em 1em;
        background-color: var(--color-lit);
        border: 1px solid var(--color-dim-less);
        cursor: pointer;
        min-width: 10em;
        align-self: center;

        &:active {
            background-color: var(--color-lit-less);
        }

        &:hover {
            background-color: var(--color-lit-more);
        }
    }
}
