<!DOCTYPE html>
<html lang="{{#site.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{#site.name}}">
    <meta name="description" content="{{#site.description}}">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/script.js"></script>
    <title>{{#site.name}}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">{{#site.name}}</a>
        </div>
        <nav>
            <a href="/about">about</a>
            <a href="/tags">tags</a>
            <a href="/list">posts</a>
            <a href="/rss">rss</a>
        </nav>
    </header>
    <main>
        <h1>글 목록</h1>
        <section class="post-list">
            <article>
                <a href="/cAvx">
                    <h3>Hello, World!</h3>
                    <div class="info">
                        <time datetime="2023-10-26+0900">2023-10-26</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>여기에 글에 대한 간단한 설명이 들어갑니다.</p>
                </a>
            </article>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World! 2</h3>
                    <div class="info">
                        <time datetime="2023-10-25+0900">2023-10-25</time>
                        <span class="author">nulta</span>
                    </div>
                </a>
            </article>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World! 2</h3>
                    <div class="info">
                        <time datetime="2023-10-25+0900">2023-10-25</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>asdf</p>
                </a>
            </article>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World! 2</h3>
                    <div class="info">
                        <time datetime="2023-10-25+0900">2023-10-25</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>asdf</p>
                </a>
            </article>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World! 2</h3>
                    <div class="info">
                        <time datetime="2023-10-25+0900">2023-10-25</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>asdf</p>
                </a>
            </article>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World! 2</h3>
                    <div class="info">
                        <time datetime="2023-10-25+0900">2023-10-25</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>asdf</p>
                </a>
            </article>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World! 2</h3>
                    <div class="info">
                        <time datetime="2023-10-25+0900">2023-10-25</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>asdf</p>
                </a>
            </article>
        </section>
    </main>
    <footer>
        <p>
            <strong>{{#site.name}}</strong><br>
            powered by whitelog<br>
            from <a href="/about">{{#site.ownerName}}</a> with &lt;3 <br>
        </p>
    </footer>
</body>
</html>