<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{site.name}}">
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="/assets/js/index.js" type="module"></script>
    <script src="/assets/js/login.js" type="module"></script>
    <title>로그인 - {{site.name}}</title>
</head>
<body>
    <ref! import="site-header"></ref!>
    <main>
        <form class="login-form" onsubmit="return false">
            <h1>로그인</h1>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required autofocus>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </main>
    <ref! import="site-footer"></ref!>
</body>
</html>