<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>{{#siteName}}</title>
</head>
<body>
    <header>
        <h1>
            <a href="/">{{#siteName}}</a>
        </h1>
        <nav>
            <a href="/about">About</a>
            <a href="/tags">Tags</a>
            <a href="/list">Posts</a>
            <a href="/rss">RSS</a>
        </nav>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores temporibus itaque magnam laboriosam voluptas et porro nihil illum assumenda iusto corporis voluptatem nulla sed delectus, animi adipisci soluta eligendi nemo!</p>
        <section class="tag-list">
            <h2>Tags</h2>
            <ul>
                <li><a href="/tags/asdf">#asdf</a></li>
                <li><a href="/tags/qwer">#qwer</a></li>
                <li><a href="/tags/tyuloqq">#TyuLoqQ</a></li>
            </ul>
        </section>
        <section class="post-list">
            <h2>Posts</h2>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World!</h3>
                    <div class="info">
                        <time datetime="2023-10-26+0900">2023-10-26</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>asdf</p>
                </a>
            </article>
            <article>
                <a href="/cAvx">
                    <h3>Hello, World! 2</h3>
                    <div class="info">
                        <time datetime="2023-10-26+0900">2023-10-26</time>
                        <span class="author">nulta</span>
                    </div>
                    <p>asdf</p>
                </a>
            </article>
        </section>
    </main>
    <footer>
        <p>
            <strong>{{#siteName}}</strong><br>
            (c) Copyright {{#author}}, All rights reserved.<br>
            powered by whitelog
        </p>
    </footer>
</body>
</html>