<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{site.name}}">
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="/assets/js/index.js"></script>
    <title>{{post.title}} - {{site.name}}</title>
</head>
<body>
    <ref! import="site-header"></ref!>
    <main>
        <article class="post-content">
            <header>
                <h1>{{post.title}}</h1>
                <ul class="tags">
                    <for! var="tag" of="post.tags">
                        <li><a class="tag-link" href="/tags/{{tag}}">{{tag}}</a></li>
                    </for!>
                </ul>
                <p class="subtitle">{{post.description}}</p>
                <div class="info">
                    <time datetime="{{post.date}}">{{post.date}}</time>
                    <span class="author">{{post.author}}</span>
                </div>
            </header>

            <section class="content">
                <ref! var="post.content"></ref>
            </section>

            <section class="relations">
                <h2>Related posts</h2>
                <!-- 상호 링크하는 글, 링크된 글, 역링크 글 -->
                <ul>
                    <li class="outlink inlink"><a href="/qbc6">both link</a></li>
                    <li class="outlink"><a href="/qbc6">outgoing link</a></li>
                    <li class="inlink"><a href="/qbc6">backlink</a></li>
                </ul>
            </section>

            <section class="comments">
                <h2>Comments</h2>
                <article>
                    <hgroup>
                        <h3>nulta-2</h3>
                        <div class="info">
                            <time datetime="2023-10-27+0900">2023-10-27</time>
                            <a class="homepage external" href="https://github.com/nulta" rel="nofollow">github</a>
                        </div>
                    </hgroup>
                    <p>hello</p>
                </article>
                <article class="reply">
                    <hgroup>
                        <h3>nulta-2</h3>
                        <div class="info">
                            <time datetime="2023-10-27+0900">2023-10-27</time>
                            <a class="homepage external" href="https://github.com/nulta" rel="nofollow">github</a>
                        </div>
                    </hgroup>
                    <p>
                        hello world<br>
                        asdfasdf
                    </p>
                </article>
                <article class="reply from-member">
                    <hgroup>
                        <h3>nulta</h3>
                        <div class="info">
                            <time datetime="2023-10-27+0900">2023-10-27</time>
                        </div>
                    </hgroup>
                    <p>hello world</p>
                </article>
                <article class="from-member">
                    <hgroup>
                        <h3>nulta</h3>
                        <div class="info">
                            <time datetime="2023-10-27+0900">2023-10-27</time>
                        </div>
                    </hgroup>
                    <p>hello world</p>
                </article>
                <comment-form></comment-form>
            </section>
        </article>
    </main>
    <ref! import="site-footer"></ref!>
</body>
</html>