@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap');

:root {
    --color-primary: #00ffcc;
    --color-secondary: #00ccff;
    --color-hyperlink: #1ec5a4;
    --color-backdrop: #ffffff;
    --color-background: #fafafa;
    --color-content: #222;
    --color-dim: #666;
    --color-lit: #ddd;
    --color-lit-less: #ccc;
}


/* Layout */

* {
    box-sizing: border-box;
}

body {
    color: var(--color-content);
    background-color: var(--color-backdrop);
    font-family: "IBM Plex Sans KR", sans-serif;

    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > header {
    background-color: var(--color-backdrop);

    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .logo {
        font-size: 2.5rem;
        font-weight: bold;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & :link, & :visited {
        text-decoration: none;
        color: var(--color-content)
    }

    & nav {
        color: var(--color-dim);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1em;
        gap: 1em;

        & a:any-link {
            font-weight: bold;
        }

        & a:any-link:is(:focus, :hover) {
            text-decoration: 3px dotted underline #00000066;
            text-underline-offset: 2px;
            text-decoration-skip-ink: none;
        }
    }
}

body > main {
    background-color: var(--color-background);

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 3rem;
    flex-grow: 1;

    border: 1px solid var(--color-dim);
}

body > footer {
    height: 7rem;
    max-width: 900px;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
    font-size: 80%;
}


/* Baseline */

body > main,
body > footer {
    & a:any-link {
        ---color-hyperlink-0: var(--color-hyperlink);
        ---color-hyperlink-1: color-mix(in srgb, var(--color-hyperlink) 40%, transparent);
        ---color-hyperlink-2: color-mix(in srgb, var(--color-hyperlink) 20%, transparent);
        color: var(---color-hyperlink-0);
        text-decoration: 3px dotted underline;
        text-decoration-color: transparent;
    }
    
    & a:any-link:is(:focus, :hover) {
        text-decoration-color: var(---color-hyperlink-1);
        text-decoration-skip-ink: none;
        text-underline-offset: 2px;
    }
    
    & a:any-link:is(:focus) {
        outline: none;
        background-color: var(---color-hyperlink-2);
    }
}

h1 {
    font-size: 2em;
    margin-block-start: .67em;
    margin-block-end: .67em;
}


/* Components */

.tag-list {
    & ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
        list-style: none;
        padding-left: 0;
    }

    & li {
        padding: 5px;

    }
}

.post-list {
    & article a:any-link {
        color: inherit;
        text-decoration: none;
    }

    & article a:any-link:focus {
        outline: 2px solid var(--color-dim);
        outline-offset: 0;
    }

    & article a:any-link:is(:hover, :focus) {
        background-color: var(--color-lit-less);
    }

    & article a {
        display: block;
        background-color: var(--color-lit);
        border: 1px solid var(--color-dim);
        padding: 1.75em 2em;
        margin: 1.5em 0;

        & h3 {
            margin-bottom: 0;
            margin-top: 0;
        }

        & :last-child {
            margin-bottom: 0;
        }

        & .info {
            color: var(--color-dim);

            & time::before {
                content: "";
            }

            & .author::before {
                content: "— ";
            }
        }
    }

    & .more {
        display: flex;
        gap: 0.5em;
        
        &::before, &::after {
            content: "";
            /* flex: 1 1; */
            border-bottom: 3px double var(--color-hyperlink);
            opacity: 0.5;
            margin: auto;
        }

        &::before {
            width: 1.5em;
        }

        &::after {
            flex: 1 1;
        }
    }

}

main > article {
    & > hgroup {
        & h1 {
            margin-bottom: 0;
        }

        & .info {
            color: var(--color-dim);

            & time::before {
                content: "";
            }

            & .author::before {
                content: "— ";
            }
        }

    }

    & p::before {
        content: "";
        margin-left: 1em;
    }
}